<!DOCTYPE html>
<html>
<head>
  <title><%= article.title %></title>
  <!-- ADD META TAGS w/ author and such for citing purposes -->
  <!-- Add citation on bottom !!! -->
  <!-- add other fancy footer stuff -->
  <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Open Sans'>
  <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Lato'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <style>
  html, body {
    font-family: 'Open Sans';
  }
  .txt {
    font-size: 1.3em;
    line-height: 1.5em;
  }
  .txt2 {
    font-size: 1.3em;
    line-height: 1.5em;
    font-family: 'Lato';
  }
  .img-responsive {
    margin: auto;
  }
  #footer {
    background-color: #282828;
    color: #FFFFFF;
    width: 100vw;
    padding: 5vw;
  }
  #heading {
    width: calc(100vw);
    min-height: calc(75vh);
    display: table;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background: url(<%- JSON.stringify(article.headerImg) %>);
    text-align: center;
  }
  #heading h1 {
    display: table-cell;
    vertical-align: middle;
  }
  .buffer {
    height: calc(10vh);
    width: calc(100vw);
  }
  </style>

  <meta charset="UTF-8">
  <meta name="description" content="<%= article.title %>">
  <meta name="keywords" content="<%= article.urlTitle.replace(/-/g , ','); %>">
  <meta name="author" content="<%= article.author %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

  <% include ./partials/nav %>

  <div id="heading">
    <h1><%= article.title %></h1>
  </div>

  <div class="buffer"></div>

  <div class="container">
    <div class="row">

      <div class="col-lg-2 col-sm-3">
        <p class="txt2">
          Published in <a target="_blank" href="<%= urlBase %>/categories/<%= article.category %>"><%= article.category %></a><br>
          By <%= article.author %><br>
          On <%= article.datePublished %>
        </p>
      </div>

      <div class="buffer hidden-sm hidden-lg"></div>

      <div class="col-lg-9 col-sm-9 col-xs-12">
        <%- article.content %>
      </div>

      <div class="col-lg-1"></div>
    </div>
  </div>

  <div class="buffer"></div>

  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>
</html>
