<!DOCTYPE html>
<html>
<head>
  <title>title</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

  <% include ./partials/nav %>

  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-sm-1"></div>
      <div class="col-lg-8 col-sm-10 col-xs-12">
        <% for (var i = 0; i < articles.length; i++) { %>
        <h1><%= articles[i].title.S %></h1>
        <p>By 
          <a target="_blank" href=<%= urlBase %>/author/<%= articles[i].author.S %>><%= articles[i].author.S %></a>&nbsp;in&nbsp;
          <a target="_blank" href=<%= urlBase %>/categories/<%= articles[i].category.S %>><%= articles[i].category.S %></a>&nbsp;on&nbsp;
          <%= articles[i].datePublished.S %>
        </p><hr>
      <% } %>
      </div>
      <div class="col-lg-2 col-sm-1"></div>
    </div>
  </div><br><br>

  <% include ./partials/footer %>

</body>
</html>