<!DOCTYPE html>
<html>
<head>
	<title>Directory</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>


	<table class="table table-striped">
		<thead>
			<tr>
				<th>Title</th>
				<th>Author</th>
				<th>Category</th>
				<th>View Link</th>
				<th>Edit Link</th>
				<!--<th>Delete Link</th>-->
			</tr>
		</thead>
		<tbody>
			<% for (var i = 0; i < articles.length; i++) { %>
			<tr>
				<td><%= articles[i].title.S %></td>
				<td><%= articles[i].author.S %></td>
				<td><%= articles[i].category.S %></td>
				<td><a target="_blank" href=<%= urlBase %>/article/<%= articles[i].urlTitle.S %>>Link</a></td>
				<td><a target="_blank" href=<%= urlBase %>/editor/editArticle/<%= articles[i].id.S %>>Link</a></td>
			</tr>
			<% } %>
		</tbody>
	</table>

</body>
</html>